@font-face {
    font-family: "oneMobilePop";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/oneMobilePop/oneMobilePop.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/oneMobilePop/oneMobilePop.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/oneMobilePop/oneMobilePop.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/oneMobilePop/oneMobilePop.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/oneMobilePop/oneMobilePop.ttf") format("truetype");
    font-display: swap;
} 

.oneMobilePop {
    font-family: "oneMobilePop";
}